@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  background-color: black;
}
.embla__viewport {
  overflow: hidden;
  background-color: black;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  background-color: black;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__slide {
  position: relative;
  min-width: 100%; /* Ensure one slide takes the full viewport width */
  justify-items: center;
  overflow: hidden;
}

.embla__slide__image {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the slide area */
  align-items: center;
  align-content: center;
  display: block;
  background-color: #0a0a0a;
}
